{
  "extends": "loopback",
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "rules": {
    "comma-dangle": "off",
    "max-len": ["error", { "code": 140 }]
  }
}