*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
.vscode
.nyc_output
coverage
node_modules
npm-debug.log
server/boot/test.js
server/boot/b1.test.js